@media (max-width: 1080px) {
    html {
        font-size: 50%;
    }

}

@media (max-width: 850px) {
    html {
        font-size: 50%;
    }


    .main-nav {
        justify-content: space-between;
    }

    .hamburger {
        display: block;
    }

    .side-bar {
        position: absolute;
        left: 0;
        z-index: 1;
        display: none;
        animation-name: side;
        animation-timing-function: ease-in;
        animation-duration: 0.3s;
    }

    .side-bar-go {
        animation-name: side-go;
        animation-timing-function: ease-in;
        animation-duration: 0.3s;
    }

}


@media (max-width: 400px) {
    html {
        font-size: 37.5%;
    }

    .side-bar {
        max-width: 30rem;
        width: 70%;
    }
}




/* ANIMATIONS */
@keyframes side {
    from {
        transform: translate(-100%);
    }

    to {
        transform: translate(0%);
    }
}


@keyframes side-go {
    from {
        transform: translate(0%);
    }

    to {
        transform: translate(-100%);
    }
}