* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    font-family: "Poppins", sans-serif;
    background-color: #DFF1C9;
}

h1 {
    align-self: center;
    font-size: 3rem;
    font-weight: 700;
}

p {
    color: #f9f7e8;
    font-size: 1.2rem;
}

a {
    color: #f9f7e8;
}

form {
    padding: 3rem;
    width: 100%;
    background-color: #006B3D;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    border-radius: 8rem 0rem 2rem 2rem;
}


label {
    font-size: 1.4rem;
    font-weight: 700;
}

input {
    font-size: 1.6rem;
    background-color: transparent;
    border: none;
    outline: none;
}

button {
    border: none;
    outline: none;
    border-radius: 1rem;
    background-color: #000;
    color: #fff;
    padding: 1rem 1.2rem;
    transition: 0.3s ease-in-out;
    height: 5.6rem;

}


button:hover {
    transform: scale(1.02);
}

button:active {
    transform: scale(0.94);
}

nav {
    align-self: flex-start;
}

.emerald-txt {
    font-family: "Oleo Script", system-ui;
    color: #006B3D;
    font-size: 2.5rem;
}

.container {
    border-radius: 2rem;
    background-color: #f9f7e8;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    max-height: 70vh;
    max-width: 40rem;
    width: 100%;
}

.nav-anchor {
    text-decoration: none;
    display: flex;
    align-items: center;
}

.nav-logo {
    height: 7rem;
}

.input-container {
    border-radius: 1rem;
    height: 5.6rem;
    gap: 1rem;
    margin-bottom: 1rem;
    padding: 1.4rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #f9f7e8;
}


.modal {
    height: 100%;
    width: 100%;
    z-index: 1;
    background-color: #dff1c9;
    backdrop-filter: blur(5px);
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    display: none;
    border-radius: 8px;


}

.modal img {
    animation-name: spin;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    width: 15rem;
}

@media (max-height: 600px) {
    body {
        justify-content: flex-start;
        padding-top: 2rem;
    }
}


@media (max-width: 400px) {
    html {
        font-size: 50%;
    }
}


@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}