* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    height: 100vh;
    font-family: "Poppins", sans-serif;
    background-color: #DFF1C9;
    padding: 3rem;
}

h1 {
    align-self: center;
    font-size: 3rem;
    font-weight: 700;
}

p {
    color: #f9f7e8;
    font-size: 1.2rem;
}

a {
    color: #f9f7e8;
}

form {
    padding: 3rem;
    width: 100%;
    background-color: #006B3D;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    border-radius: 8rem 0rem 2rem 2rem;
}


label {
    font-size: 1.4rem;
    font-weight: 700;
}

input {
    font-size: 1.6rem;
    background-color: transparent;
    border: none;
    outline: none;
}

button {
    border: none;
    outline: none;
    border-radius: 1rem;
    background-color: #000;
    color: #fff;
    padding: 1rem 1.2rem;
    height: 5.6rem;

}

nav {
    align-self: flex-start;
}

.emerald-txt {
    font-family: "Oleo Script", system-ui;
    color: #006B3D;
    font-size: 2.5rem;
}

.container {
    border-radius: 2rem;
    background-color: #f9f7e8;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    max-width: 40rem;
    width: 100%;
}

.nav-anchor {
    text-decoration: none;
    display: flex;
    align-items: center;
}

.nav-logo {
    height: 7rem;
}

.input-container {
    border-radius: 1rem;
    height: 5.6rem;
    gap: 1rem;
    padding: 1.4rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #f9f7e8;
}

@media (max-width: 400px) {
    html {
        font-size: 50%;
    }
}