/* -------- MEDIA QUERIES -------- */
/* ----- BREAKPOINTS ARE BEING USED IN THIS  ------ */
@media (max-width: 1080px) {
    html {
        font-size: 50%;
    }

}

@media (max-width: 998px) {
    html {
        font-size: 43.75%;
    }

    header,
    .hero-background-container {
        height: 70vh;
    }
}

@media (max-width: 898px) {
    html {
        font-size: 37.5%;
    }
}


@media (max-width: 768px) {
    html {
        font-size: 31.25%;
        /* ≈5px */
    }

    header,
    .hero-background-container {
        height: 65vh;
    }
}



@media (max-width: 600px) {
    html {
        font-size: 28.125%;
        /* ≈4.5px */
    }

    h1 {
        font-size: 8rem;
    }

    .hero-paragraph {
        font-size: 2.6rem;
    }

    .hero-btn a {
        font-size: 3rem;
        
    }

    header,
    .hero-background-container {
        height: 70vh;
    }

    nav {
        position: relative;
    }

    .nav-button {
        display: block;
    }

    .nav-close {
        margin-bottom: 8rem;
    }


    .nav-menu {
        background-color: #f9f7e8;
        padding: 6rem;
        position: absolute;
        right: 0;
        top: 0px;
        border-radius: 4rem;
        width: 100%;
        /* height: 50vh; */
        display: none;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
    }

    .nav-btn-container {
        margin-top: 6rem;
        flex-direction: column;
        align-items: center;
        gap: 6rem;
    }

    .nav-li a {
        font-size: 4rem;
    }

    .nav-btn-container a {
        font-size: 4rem;
    }

    .nav-list {
        align-items: center;
        flex-direction: column;
        gap: 8rem;
    }

    .about-section {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .about-grid {
        justify-content: center;
        align-items: center;
    }

    .about-1 {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .about-grid-img {
        margin: 0;
        max-width: 660rem;
        width: 100%;
        height: 60rem;

    }

    .features-card-container {
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        align-content: center;
        gap: 8rem;
    }


    .cta-section {
        grid-template-columns: 1fr;
    }

    .cta-h3 {
        font-size: 4rem;
    }

    .contact-location p {
        font-size: 2rem;
    }

    .contact-location {
        text-align: center;
    }

    iframe {
        max-width: 660rem;
        width: 100%;
        height: 60rem;
    }

    .footer-logo {
        width: 100%;
        border-radius: 0;
        justify-content: center;
        align-items: center;
    }

    .footer a {
        font-size: 3rem;
    }

    small {
        font-size: 2rem;
    }


    /* ----- HOW TO BOOK ----- */
    .booking-steps-container {
        grid-template-columns: 1fr;
    }

    .booking-header, .price {
        text-align: center;
        margin-bottom: 2rem;
    }

    /* ------ GALLERY SECTION ------ */
    .gallery-container {
        grid-template-columns: repeat(2, 1fr);
    }
    .gallery-anchor img {
    width: 40rem;
    height: 40rem;
}
}


@media (max-width: 350px) {
    header,
    .hero-background-container {
        height: 100vh;
    }
}