* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-primary: #006B3D;
    --color-secondary: #f9f7e8;
    --color-tertiary: #DFF1C9;
}


html {
    font-size: 62.5%;
    font-family: "Poppins", sans-serif;
}


body {
    background-color: #f9f7e8;
}


header {
    height: 100vh;
}

h1 {
    color: #f9f7e8;
    font-size: 6rem;
    letter-spacing: -1px;
    font-weight: 700;
    margin-bottom: 2rem;
    text-align: center;
}


h2 {
    font-size: 5rem;
    font-weight: 700;
}

h3 {
    font-size: 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.2;
}

a {
    text-decoration: none;
}

/* ---------- NAV BAR  --------- */

nav {
    height: 10rem;
    max-width: 120rem;
    width: 90%;
    z-index: 99;
    position: sticky;
    top: 2rem;
    background-color: #f9f7e8;
    padding: 1rem 2rem;
    border-radius: 6rem;
    display: flex;
    /* gap: 20rem; */
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 8rem;
}

iframe {
    width: 45rem;
    height: 40rem;
    /* margin-left: 4rem; */
}

.container {
    position: relative;
    margin: 0 auto;
    /* max-width: 120rem;
    width: 90%; */
}

.nav-list {
    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content: center;
    gap: 4rem;
}

.nav-li a {
    font-size: 2rem;
    color: #006B3D;
}

.nav-logo {
    width: 6rem;
}

.nav-anchor {
    display: flex;
    align-items: center;
}

.nav-menu {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.emerald-txt {
    font-size: 1.6rem;
    color: #006B3D;
    font-family: "Oleo Script", system-ui;
}

.nav-btn-container {
    display: flex;
    gap: 2rem;
    
}

.nav-btn-container a {
    border-radius: 2.5rem;
    padding: 1rem 2.5rem;
    font-size: 2rem;
}

.nav-register {
    background-color: #002e1a;
    color: #f9f7e8;
}

.nav-login {
    background-color: #DFF1C9;
    color: #006B3D;
}


.nav-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    display: none;
}

.nav-button img {
    height: 4.2rem;
}

/* ----- HERO SECTION  ------ */

.hero-section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}


.hero-background-container {
    position: absolute;
    width: 100%;
    height: 100vh;
    border-radius: 0rem 0rem 4rem 4rem;
    overflow: hidden;
    z-index: -9;
}

.hero-background-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    inset: 0;
    z-index: -99;
}

/* Overlay gradient or dark layer */
.hero-background-container::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.6),
            rgba(0, 0, 0, 0.6));
    z-index: 0;
}


.hero-paragraph {
    text-align: center;
    font-size: 2rem;
    line-height: 1.4;
    color: #f9f7e8;
}

.hero-btn {
    margin-top: 4rem;
    display: flex;
    gap: 2rem;
    justify-content: center;
    font-size: 1.6rem;
}

.hero-btn a {
    display: inline-block;
    padding: 2rem 4rem;
    color: #006B3D;
    background-color: #f9f7e8;
    border-radius: 4rem;
    /* width: 15rem; */
    text-align: center;
}

/* ----- ABOUT SECTION ----- */

.about-section {
    margin: 0 auto;
    max-width: 120rem;
    width: 90%;
    display: grid;
    color: #006B3D;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
    margin-bottom: 8rem;
}


.about-grid {
    display: flex;
    flex-direction: column;

}

.about-grid-img {
    max-width: 40rem;
    height: 40rem;
    border-radius: 4rem;
    margin-left: 10rem;
}

.about-1 {
    display: flex;
}


.about-paragraph {
    color: #002e1a;
    font-size: 2rem;
    line-height: 1.4;
}

/* ------ FEATURES SECTION ------ */
.features-section {
    margin: 0 auto;
    max-width: 120rem;
    width: 90%;
    margin-bottom: 8rem;
}


.features-title {
    color: #006B3D;
    text-align: center;
    margin-bottom: 2rem;
}

.features-paragraph {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 6rem;
    color: #002e1a;
}

.features-card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4rem;
}


.features-card {
    border-radius: 2rem;
    max-width: 40rem;
    max-height: 30rem;
    height: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 2rem;
    padding: 1.6rem;
    background-color: #f9f7e8;
    box-shadow: 0px 0px 5px #006b3d76;
}

.features-card h3 {
    color: #006B3D;
}

.features-card img {
    width: 8rem;
    color: #002e1a;
}

.features-card p {
    font-size: 1.6rem;
}


/* ------  CTA SECTION   ------ */


.footer-section {
    border-radius: 4rem 4rem 0rem 0rem;
    background-color: #006B3D;
}

.cta-section {
    padding: 4rem;
    margin: 0 auto;
    max-width: 120rem;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.cta-h3 {
    color: #f9f7e8;
    font-size: 3rem;
    margin-bottom: 2rem;
}

.contact-location p {
    color: #f9f7e8;
    font-size: 1.4rem;
    line-height: 1.2;
    margin-bottom: 1rem;
}

.location-icon {
    max-width: 10rem;
}

.cta-img-para {
    display: flex;
    align-items: center;
    font-weight: 700;
}


/* ------ FOOTER SECTION ------ */
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.emerald-txt-footer {
    font-size: 2rem;
}

.footer-anchor img {
    width: 3rem;
}

.footer-logo {
    background-color: #f9f7e8;
    padding: 0.5rem 2rem;
    border-radius: 3rem;
}

.footer-links {
    display: flex;
    gap: 2rem;
}

.footer a {
    font-size: 1.6rem;
    color: #f9f7e8;
    margin-bottom: 2rem;
}


small {
    font-size: 1.2rem;
    color: #f9f7e8;
    margin-bottom: 2rem;
}